<%- layout('layout') %>

<div class="container">

  <% if(user){%>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="/">Flash Zone</a>
        </div>
          <div id="navbar" class="navbar-collapse collapse">
            <header>
              <div>
                <a style="margin-left:70rem" class="navbar-brand" href="#"><%= user.profile.name %></a>
              </div>
              <div>
                <a class="navbar-brand" href="/profile">Profile</a>
              </div>
              <div>
                <a class="navbar-brand" href="/logout">Logout</a>
              </div>
              <div>
                <a class="navbar-brand" href="/cart"><i class="bi bi-cart-fill"></i><span><%= total %></span></a>
              </div>
            </header>

        </div>
      </div>
    </nav>
   
  <% }else{ %>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="/">Flash Zone</a>
          </div>
            <div id="navbar" class="navbar-collapse collapse">
              <header>
                <div>
                  <a class="navbar-brand" href="/signup">Signup</a>
                </div>
                <div>
                  <a class="navbar-brand" href="/login">Login</a>
                </div>
                <div>
                  <a class="navbar-brand" href="#"><i class="bi bi-cart-fill"></i></a>
                </div>
              </header>

          </div>
        </div>
    </nav>
  <% } %>
    
    <div class="container">
        <div  class="row">
      
          <div class="col-md-4 ">
            <img style="width:60rem;height:40rem;margin-top:10rem" src="<%= bike.image %>">
          </div>
      
          <div class="col-md-4">
      
          </div>
      
      
          <div id="singlebike" class="col-md-4">
            <h3 style="margin-top:15rem" ><%= bike.name %></h3>
            <h1>$<%= bike.price %></h1>
      
          </div>
          <form method="post" action="/addtocart">
            <div class="btn-group" style="margin-left:40rem" role="group" aria-label="...">
              <input type="hidden" name="quantity" id="quantity" value="1"></input>
              <button type="button" id="minus" class="btn btn-default">-</button>
              <button type="button" id="total" class="btn btn-default">1</button>
              <button type="button" id="plus" class="btn btn-default">+</button>
            </div>
    
            <div class="form-group" style="width:15rem;margin-left:75rem">
              <input type="hidden" name="product_id" id="quantity" value="<%= bike._id %>"></input>
              <input type="hidden" name="priceHidden" id="priceHidden" value="<%= bike.price %>"></input>
    
              <input type="text" style="margin-top:1rem;margin-bottom:1rem" name="item" class="form-control" value="<%= bike.name %>"></input>
              <input type="text" name="priceValue" id="priceValue" class="form-control" value="<%= bike.price %>"></input>
            </div>
            <% if(user){ %>
              <button type="submit" style="margin-left:76rem;margin-top:-12.2rem" class="btn btn-primary btn-lg">Add to Cart</button>
            <% }else{ %>
              <a href='/login' style="margin-left:72.5rem;margin-top:-12.2rem" class="btn btn-warning btn-lg">login to begin buying!</a>
              <% } %>
          </form>
        </div>
    </div>
</div>
<script src="../../js/cart.js"></script>