<%- layout('layout') %>

<div class="container">

  <% if(user){%>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="/">Flash Zone</a>
        </div>
          <div id="navbar" class="navbar-collapse collapse">
            <header>
              <div>
                <a class="navbar-brand" href="#"><%= user.profile.name %></a>
              </div>
              <div>
                <a class="navbar-brand" href="/profile">Profile</a>
              </div>
              <div>
                <a class="navbar-brand" href="/logout">Logout</a>
              </div>
              <div>
                <a class="navbar-brand" href="/cart"><i class="bi bi-cart-fill"></i><span><%= total %></span></a>
              </div>
            </header>

        </div>
      </div>
    </nav>
   
  <% }else{ %>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="/">Flash Zone</a>
          </div>
            <div id="navbar" class="navbar-collapse collapse">
              <header>
                <div>
                  <a class="navbar-brand" href="/signup">Signup</a>
                </div>
                <div>
                  <a class="navbar-brand" href="/login">Login</a>
                </div>
                <div>
                  <a class="navbar-brand" href="#"><i class="bi bi-cart-fill"></i></a>
                </div>
              </header>

          </div>
        </div>
    </nav>
  <% } %>
    <div class="cars">
        <h1>Cars</h1>
        <div id="cars">
            <% for(let i = 0;i< cars.length;i++){ %>
                <dev class="carproduct">
                  <a href="cars/<%= cars[i]._id %>">
                    <img id ='carimg' src="<%= cars[i].image %>" >
                    <section id="carprice">
                    <div><%= cars[i].name %></div>
                    <div id="price">$<%= cars[i].price %></div>
                    </section>
                  </dev>
                </a>
            <% } %>
        </div>
    </div>